ruby_1_8_5/test/wsdl/axisArray/axisArray.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name = "itemList"
    targetNamespace="urn:jp.gr.jin.rrr.example.itemList"
    xmlns:tns="urn:jp.gr.jin.rrr.example.itemList"
    xmlns:typens="urn:jp.gr.jin.rrr.example.itemListType"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="urn:jp.gr.jin.rrr.example.itemListType"
	xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="Item">
        <sequence>
          <element name="name" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ItemList">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="Item" type="typens:Item"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>

  <wsdl:message name="listItemRequest"/>

  <wsdl:message name="listItemResponse">
    <wsdl:part name="list" type="typens:ItemList"/>
  </wsdl:message>

  <wsdl:portType name="ItemListPortType">
    <wsdl:operation name="listItem">
      <wsdl:input message="tns:listItemRequest" name="listItemRequest"/>
      <wsdl:output message="tns:listItemResponse" name="listItemResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ItemListBinding" type="tns:ItemListPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listItem">
      <soap:operation soapAction=""/>
      <wsdl:input name="listItemRequest">
	<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:jp.gr.jin.rrr.example.itemList" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="listItemResponse">
	<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:jp.gr.jin.rrr.example.itemList" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ItemListService">
    <wsdl:port binding="tns:ItemListBinding" name="ItemListPort">
      <soap:address location="http://localhost:10080/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
