ruby_1_8_6/test/soap/wsdlDriver/simpletype.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="echo_version"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:example.com:simpletype-rpc"
    xmlns:txd="urn:example.com:simpletype-rpc-type"
    targetNamespace="urn:example.com:simpletype-rpc"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:example.com:simpletype-rpc-type">
      <xsd:complexType name="version_struct">
	<xsd:all>
	  <xsd:element name="myversion" type="txd:myversions" />
	  <xsd:element name="msg" type="xsd:string" />
	</xsd:all>
      </xsd:complexType>

      <xsd:simpleType name="myversions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1.6"/>
          <xsd:enumeration value="1.8"/>
          <xsd:enumeration value="1.9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>

  <message name="msg_version">
    <part name="myversion" type="txd:myversions"/>
  </message>

  <message name="msg_version_struct">
    <part name="return" type="txd:version_struct"/>
  </message>

  <portType name="echo_version_port_type">
    <operation name="echo_version">
      <input message="tns:msg_version"/>
      <output message="tns:msg_version_struct"/>
    </operation>
  </portType>

  <binding name="echo_version_binding" type="tns:echo_version_port_type">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="echo_version">
      <soap:operation soapAction="urn:example.com:simpletype-rpc"/>
      <input>
        <soap:body use="encoded" namespace="urn:example.com:simpletype-rpc"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:example.com:simpletype-rpc"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>

  <service name="echo_version_service">
    <port name="echo_version_port" binding="tns:echo_version_binding">
      <soap:address location="http://localhost:10080"/>
    </port>
  </service>
</definitions>
