ruby_1_8_5/test/soap/wsdlDriver/document.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="submit_service"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:example.com:document"
    targetNamespace="urn:example.com:document"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:example.com:document">
      <xsd:element name="ruby">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="myversion" type="tns:myversion"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="date" type="xsd:dateTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:simpleType name="myversion">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="1.6"/>
          <xsd:enumeration value="1.8"/>
          <xsd:enumeration value="1.9"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>

  <message name="submit_msg">
    <part name="parameters" element="tns:ruby"/>
  </message>

  <portType name="submit_port_type">
    <operation name="submit">
      <input message="tns:submit_msg"/>
      <output message="tns:submit_msg"/>
    </operation>
  </portType>

  <binding name="submit_binding" type="tns:submit_port_type">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="submit">
      <soap:operation soapAction="urn:example.com:document#submit" style="document"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="submit_service">
    <port name="submit_port" binding="tns:submit_binding">
      <soap:address location="http://localhost:10080"/>
    </port>
  </service>
</definitions>
