ruby_1_8_6/test/wsdl/map/map.wsdl

<?xml version="1.0"?>
<definitions
    name="map"
    targetNamespace="urn:map"
    xmlns:tns="urn:map"
    xmlns:txd="urn:map"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:apachesoap="http://xml.apache.org/xml-soap">

  <types>
    <schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xml.apache.org/xml-soap">
      <complexType name="Map">
	<sequence>
	  <element name="item" minOccurs="0" maxOccurs="unbounded">
	    <complexType>
	      <sequence>
		<element name="key" type="xsd:anyType" />
		<element name="value" type="xsd:anyType" />
	      </sequence>
	    </complexType>
	  </element>
	</sequence>
      </complexType>
    </schema>
  </types>

  <message name="mapRequest"/>
  <message name="mapResponse">
    <part name="return" type="apachesoap:Map"/>
  </message>

  <message name="map2Request">
    <part name="arg" type="apachesoap:Map"/>
  </message>
  <message name="map2Response">
    <part name="return" type="apachesoap:Map"/>
  </message>

  <portType name="MapServicePortType">
    <operation name="map" parameterOrder="">
      <input message="tns:mapRequest"/>
      <output message="tns:mapResponse"/>
    </operation>

    <operation name="map2" parameterOrder="">
      <input message="tns:map2Request"/>
      <output message="tns:map2Response"/>
    </operation>
  </portType>

  <binding name="MapServicePortBinding" type="tns:MapServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="map">
      <soap:operation soapAction=""/>
      <input>
	<soap:body use="encoded"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:map"/>
      </input>
      <output>
	<soap:body use="encoded"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:map"/>
      </output>
    </operation>

    <operation name="map2">
      <soap:operation soapAction=""/>
      <input>
	<soap:body use="encoded"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:map"/>
      </input>
      <output>
	<soap:body use="encoded"
	    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
	    namespace="urn:map"/>
      </output>
    </operation>
  </binding>

  <service name="MapService">
    <port name="MapServicePort" binding="tns:MapServicePortBinding">
      <soap:address location="http://raa.ruby-lang.org/soap/1.0.2/"/>
    </port>
  </service>
</definitions>
