test/wsdl/document/ping_nosoapaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://xmlsoap.org/Ping"
xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
targetNamespace="http://xmlsoap.org/Ping" name="Ping">
    <types>
        <schema targetNamespace="http://xmlsoap.org/Ping"
        xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">
            <complexType name="ping">
                <sequence>
                    <element name="scenario" type="xsd:string"
                    nillable="true"/>
                    <element name="origin" type="xsd:string"
                    nillable="true"/>
                    <element name="text" type="xsd:string"
                    nillable="true"/>
                </sequence>
            </complexType>
            <complexType name="pingResponse">
                <sequence>
                    <element name="scenario" type="xsd:string"
                    nillable="true"/>
                    <element name="origin" type="xsd:string"
                    nillable="true"/>
                    <element name="text" type="xsd:string"
                    nillable="true"/>
                </sequence>
            </complexType>
            <element name="Ping" type="tns:ping"/>
            <element name="PingResponse" type="tns:pingResponse"/>
        </schema>
    </types>
    <message name="PingRequest">
        <part name="ping" element="tns:Ping"/>
    </message>
    <message name="PingResponse">
        <part name="pingResponse" element="tns:PingResponse"/>
    </message>
    <portType name="PingPort">
        <operation name="Ping">
            <input message="tns:PingRequest"/>
            <output message="tns:PingResponse"/>
        </operation>
    </portType>
    <binding name="PingBinding" type="tns:PingPort">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Ping">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PingService">
        <port name="PingPort" binding="tns:PingBinding">
            <soap:address
            location="http://127.0.0.1:8080/axis/services/PingPort"/>
        </port>
    </service>
</definitions>
